.slider-banner-container {
  display: flex;
  justify-content: center;
  // padding: 20px auto !important;
  &.container-fluid {
  }
  .container {
  }
  figure {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    max-height: 100px;
    // max-width: 200px;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      color: #fff;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
      figcaption {
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 1.313em; //21px
        bottom: 10px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
      }
    }
  }
}
.card-wrapper {
  margin: 1rem 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 500px) {
  .slider-banner-container {
    figure {
      // max-width: 100px;
      a {
        img {
          border-radius: 10px;
        }
      }
    }
  }
}
