body {
  direction: rtl !important;
  text-align: start;
  font-family: iranSans;
  line-height: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-blue,
.svg-green,
.svg-orange {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.svg-blue {
  background-image: url(../../public/images/blue.svg);
}
.svg-green {
  background-image: url(../../public/images/green.svg);
}
.svg-orange {
  background-image: url(../../public/images/orange.svg);
}
// ================= Bootstrap Container size ============
//0-375
//376-768
//768-1024
//1024-1240
//1240-1366
//1366-up
// .container {
//   margin: 0;
//   padding: 0;
// }
@media screen and (min-width: 1920px) {
  // for big screens
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 850px) {
  //for tablet size
  .container {
    //background-color: lightcyan;
  }
}
@media screen and (max-width: 500px) {
  // for mobile phone size
  .container {
    //background-color: lightgrey;
  }
}

// @import '../panelAdmin/bootstrap.css');
@import "./reset.scss";
@import "./colors.scss";
@import "../baseComponents/index.scss";
@import "../reusableComponent/index.scss";
