.nav-bar {
  display: flex;
  padding: 10px 0;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  left: 0;
  z-index: 10;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.04);
  right: 0;
  .dropdown {
    & a {
      width: unset;
    }
    .dropdown-menu {
      h3 {
        font-size: 0.9rem;
        margin: 0.3rem;
        font-weight: 300;
      }
    }
  }
  .profile-modal-container {
    top: 100%;
  }
}

.nav-bar-holder {
  display: flex;
}
.c{
  color: #888;
  
}
.header-menu {
  display: flex;
  align-items: center;
  margin-right: 48px;
  > li {
    cursor: pointer;
    display: flex;
    margin: 0 8px;
    align-items: center;
    > h3 {
      color: #888;
      font-size: 14px;
      margin-right: 8px;
      white-space: nowrap;
    }
  }
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // > div {
  //   // flex: 1;
  //   &:first-child {
  //     width: 100px;
  //   }
  // }
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
  font-weight: 300;
  color: #7a7a7a;
  > div {
    margin-inline-start: 2rem;
  }
}
.header-search {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 10px 12px;
  > i {
    &.fal.fa-search {
      font-size: 1.3rem;
      margin: 0 8px;
    }
  }
}
.header-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-login-sm {
  cursor: pointer;
  padding: 18px 5px;
  // display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  // display: flex;
  // border:1px solid  rgb(97, 97, 97) ;
  // border: 1px solid #e0e0e2;

  justify-content: center;
  align-items: center;
  > h4 {
    font-size: 12px;
  }
  > i {
    &.fal.fa-user {
      margin-left: 8px;
      font-size: 1.3rem;
    }
    &.fas.fa-angle-down {
    }
  }
}

.header-login-lg {
  cursor: pointer;
  padding: 10px 5px;
  // display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  // display: flex;
  // border:1px solid  rgb(97, 97, 97) ;
  border: 1px solid #e0e0e2;

  justify-content: center;
  align-items: center;
  > h4 {
    font-size: 12px;
  }
  > i {
    &.fal.fa-user {
      margin-left: 8px;
      font-size: 1.3rem;
    }
    &.fas.fa-angle-down {
    }
  }
}

.header-cart {
  cursor: pointer;
  // padding: 10px 12px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  display: flex;

  justify-content: center;
  align-items: center;
  > i {
    font-size: 1.3rem;
  }
}
.nav-link {
  color: rgb(97, 97, 97) !important;

  // color: black;
  // border: 1px solid black;
}
.navbar-brand {
  margin-right: 0 !important;
  img {
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 500px) {
  .header-left {
    > div {
      margin-inline-start: 1rem;
    }
  }
}
// .navbar {
//   box-shadow: 0 1px 2px 0 rgba(#95989a, 0.3);
//   .navbar-brand {
//     padding-left: 2em;
//   }
//   .collapse,
//   .collapsing {
//     flex-grow: 1;
//     .navbar-nav {
//       flex-grow: 2;
//       .nav-item {
//         a {
//           i {
//             padding-left: 0.5em;
//           }
//           &:after,
//           &::before {
//             border: none;
//           }
//         }
//       }
//     }
//     .form-inline {
//       //   margin-right: auto;
//       position: relative;
//       i {
//         position: absolute;
//         right: 15px;
//       }
//       input {
//         padding-right: 35px;
//         border-radius: 0px;
//         margin-left: 1.6em;

//         &::placeholder {
//           color: rgb(185, 185, 185);
//         }
//       }
//     }

//     .user-wrapper {
//       display: flex;
//       flex-direction: row;
//       flex-grow: 0;
//       padding: 5;
//       list-style: none;
//       justify-content: space-between;

//       .cart {
//         margin-right: 1em;

//         .cart-a {
//           padding: 0;
//           position: relative;
//           cursor: pointer;
//           i {
//             font-size: 1.6em;
//           }

//           span {
//             position: absolute;
//             bottom: 25px;
//             left: 20px;
//             background-color: var(--green);
//             color: #fff;
//             width: 20px;
//             height: 20px;

//             text-align: center;
//             border-radius: 50%;
//           }
//         }
//       }
//     }
//   }
// }
