// ================================ Header Component
.header-wrapper {
  box-shadow: 0px 1px 0px 0px #e7e7e7;

  .header-container {
    display: flex;
    max-width: 1366px;
    margin: auto;
    padding: 0.9375rem 1.0625rem;

    &.row-container {
      margin-bottom: unset !important;
    }
    .for-small-display {
      display: none !important;
    }
    .header-side-elements {
      display: flex;
      flex: 0.214 1;
      justify-content: flex-end;
      align-items: center;
      .header-search-icon {
        margin-inline-end: 0.9rem;
        i {
          font-size: 1.5rem;
        }
      }
    }
    .header-bell-icon {
      display: none;
    }
    .header-middle-elements {
      display: flex;
      flex: 1;
      // width: 70%;
      padding: 0 1rem;
      .header-middle-into-elemen {
        width: 680px;
        display: flex;
        justify-content: flex-start;
      }
    }
    .logo-website {
      margin-inline-end: auto;
      cursor: pointer;
      width: unset;
    }
  }
}
// ================================End Header Component

// ================ hamburger component
.HamburgerMenu {
  .border-hamburger-menu {
    > i {
      cursor: pointer;
      font-size: 2.1875rem;
      font-weight: 400;
      -webkit-margin-start: 0;
      margin-inline-start: 0;
      -webkit-margin-end: 1.188rem;
      margin-inline-end: 1.188rem;
    }
  }
}
// ================End hamburger component

// ================ header Middle component
.text-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-inline-end: 30px;

  margin-inline-start: 0;
  .header-text-middle {
    font-weight: 100;
    // margin: 0.5rem;
    margin-inline-end: 0;
    font-size: 1.12rem;
    margin-inline-start: 0.625rem;
  }
  .header-icon-middle {
    i {
      font-size: 1.3rem;
      // font-weight: 500;
      display: flex;
    }
  }
}
// ================End header Middle component

// ================ Login component

.login-element {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  > .login-wrapper {
    display: flex;
    justify-content: flex-end;
    .login-element-container {
      display: flex;
      align-items: center;
      border-radius: 0.3rem;
      white-space: nowrap;
      > div {
        margin: 0.375rem 0.438rem;
        display: flex;
        align-items: center;
        justify-content: center;
        > i {
          font-size: 1.125rem;
        }
      }
    }
  }
}

// ================End Login component
@media (max-width: 900px) {
  .header-wrapper {
    .header-container {
      .header-middle-elements {
        .text-icon-wrapper {
          margin-inline-end: 25px;
        }
      }
    }
  }
}
@media (max-width: 840px) {
  .header-wrapper {
    .header-container {
      & > div {
        flex: 1;
        display: flex;
        align-items: center;
      }
      .HamburgerMenu {
        .border-hamburger-menu {
          > i {
            cursor: pointer;

            font-weight: 300;
          }
        }
      }
      .header-side-elements {
        justify-content: flex-start;
        flex: 1;
      }
      .header-middle-elements {
        display: none;
      }
      .header-side-elements.flex-end-for-small {
        justify-content: flex-end !important;
      }
      .header-search-icon {
        display: none;
      }
      .login-element-container {
        display: none;
        > div {
          margin: unset;
        }
        &.for-small-display {
          > i {
            font-size: 1.5rem;
            font-weight: 100;
            margin-inline-end: 0.5rem;
          }
          .chevron-down-icon {
            i {
              font-size: 0.75rem;
            }
          }
        }
      }
      .for-small-display {
        display: flex !important;

        // margin-inline-start: 13px;
      }
      .header-bell-icon {
        display: flex;

        i {
          font-size: 1.5rem;
          font-weight: 100;
          margin-inline-end: 1.5625rem;
        }
      }
      .logo-website {
        display: none;
        // margin: unset;
        justify-content: center;
      }
      .login-element {
        width: unset;
      }
      .chevron-down-icon {
        font-size: 0.6rem;
      }
    }
  }
}
@media (max-width: 375px) {
  .header-wrapper {
    .row-main-wrapper {
      padding: 1.25rem;
    }
  }
}
