.f {
  background-color: #f6ecdd;
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    > div {
      flex: 1;
    }
  }
  .right-side {
    padding: 0;
    margin: 0;
    p {
      text-align: justify;
      padding: 0.8em 0;
      color: rgb(80, 80, 80);
      font-size: 0.8rem;
      line-height: normal;
    }
  }
  .left-side {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    list-style: none;
    line-height: 2.3em;
    flex-wrap: wrap;
    li {
      margin: 1rem;
      a {
        text-decoration: none;
        color: rgb(80, 80, 80);

        transition: 0.3s ease-in-out;
        font-size: 0.8rem;
        &:hover {
          opacity: 0.6;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
.social-wrapper {
  display: flex;
  // flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, #ecddc5, transparent);
  .social {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 0;

    li {
      margin: 0 1em;
      a {
        text-decoration: none;
        color: #000;
        font-size: 1.8em;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 0.6;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .f {
    .footer-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .social-wrapper {
    flex-direction: column;
    > h6 {
      padding: 0.5rem 0;
    }
    .social {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin-bottom: 0;

      li {
        margin: 0 1em;
        a {
          text-decoration: none;
          color: #000;
          font-size: 1.8em;
          transition: 0.3s ease-in-out;

          &:hover {
            opacity: 0.6;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
