// @import
.main-wrapper {
  > div {
    margin-top: 100px;
    > div {
      margin: 20px auto;
      > div {
      }
    }
  }
}

.element-container-col {
  @media (max-width: 576px) {
    .col-6 {
      max-width: 45%;
    }
  }
  @media (min-width: 576px) {
    .col-sm-4 {
      max-width: 29%;
    }
  }
  @media (min-width: 768px) {
    .col-md-3 {
      max-width: 22.8%;
    }
  }
  @media (min-width: 992px) {
    .col-lg-3 {
      max-width: 14.9%;
    }
  }
  @media (min-width: 1200px) {
    .col-xl-2 {
      max-width: 15.3%;
    }
  }
}
