.slider-card-container {
  display: inline-flex;
  flex-direction: column;

  .slider-card-wrapper {
    padding: 20px;
    padding-bottom: 15px;
    padding-inline-start: 0;
    .slider-card-title {
      text-align: start;

      > * {
        line-height: normal;
        letter-spacing: 1.1px;
      }
      h4 {
        // Slider title
        color: #ff3333;
        font-size: 14px;
        line-height: 13px;
        font-weight: bold;
      }

      span {
        // Slider Parent Name
        display: block;
        font-size: 18px;
        margin-top: 1px;
        font-weight: 500;
        color: #333333;
      }

      h3 {
        font-size: 1rem;
        color: #555555;
        font-weight: 400;
      }
    }
  }

  .card-options {
    padding: 1.5625rem;
    .icon-wrapper {
      width: 3.75rem;
      height: 3.75rem;
      i {
        font-size: 1.5rem;
      }
    }
  }

  .slider-card-image {
    position: relative;
    border-radius: 0.5rem;
    margin-top: 10px;
    overflow: hidden;
    flex: 1;
    img {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    .card-options {
      transition: all 0.3s linear;
      & > * {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 992px) {
  .slider-card-container {
    &.col-lg-5 {
      -ms-flex: 0 0 42.137% !important;
      flex: 0 0 42.137% !important;
      max-width: 42.137% !important;
    }
  }
}

@media (max-width: 376px) {
  .slider-card-container {
    &.col-9 {
      -ms-flex: 0 0 76.716% !important;
      flex: 0 0 76.716% !important;
      max-width: 76.716% !important;
    }

    .slider-card-wrapper {
      .slider-card-title {
        text-align: start;
        > * {
          margin: 0.15625em 0;
        }
        h4 {
          color: #0070ef;
          font-size: 0.875rem;
          font-weight: 400;
          letter-spacing: 0.7;
          // margin-bottom:  0.625rem;
        }

        span {
          font-size: 1.125rem;
          color: #333333;
          font-weight: 500;
        }

        h3 {
          // margin:  0.625em 0  0.3125em 0;
          font-size: 1rem;
          color: #666666;
          font-weight: 400;
        }
      }

      .slider-card-image {
        // display: inline-flex;
        position: relative;
        // max-height: 3 0.625rem;
        flex: 1;
        img {
          display: flex;
          // width: 33.75rem; //540
          // height: 19.375rem; //310
          width: 100%;
          height: 100%;
        }

        // .fa-play {
        //   position: absolute;
        //   bottom: 30px;
        //   left: 30px;
        //   font-size: 24px;
        //   color: white;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   background-color: #2d3031;
        //   border-radius: 100%;
        //   width: 60px;
        //   height: 60px;
        // }
      }
    }
  }
}
@media (max-width: 500px) {
  .slider-card-container {
    .card-options {
      padding: 0.625rem;
      .icon-wrapper {
        width: 3rem;
        height: 3rem;
        /* font-size: 10px !important; */
        i {
          font-size: 1rem;
        }
      }
    }
  }
}
// 1366 - ....

// 768 - 1366
//   @media (min-width: 768px) and (max-width: 1366px) {
//   }

//   // 375 - 768
//   @media screen and (max-width: 768px) {
//     .slider-card-title {
//       h4 {
//         font-size: 14px;
//       }

//       h2 {
//         font-size: 18px;
//       }

//       h3 {
//         font-size: 16px;
//       }
//     }

//     .slider-card-image {
//       img {
//         display: flex;
//         width: 16.25rem; //540
//         height: 9.375rem; //310
//         border-radius: 8px;
//       }

//       .fa-play {
//         display: none;
//       }
//     }
//   }
