.blog-banner-container {
  box-shadow: 1px 0px 4px -1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  // width: 90%;
  margin: auto;
  figure {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 300px;

    display: flex;
    text-decoration: none;
    color: #fff;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
    .title-wrapper {
      position: absolute;
      flex: 1 1;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;
      height: 100%;
      align-items: center;
      padding: 1rem;
      * {
        text-shadow: 1px 1px 1px #000000;
      }

      h2 {
        font-size: 1.563rem;
        font-weight: 500;
      }
      p {
        font-size: 1em;
        font-weight: 400;
      }
      a {
        background-color: var(--blue);
        display: inline-block;
        padding: 0.4rem 1.7rem;
        border-radius: 3px;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .blog-banner-container {
    width: 100%;
    figure {
      img {
        border-radius: 10px;
      }
      .title-wrapper {
        // position: absolute;
        // right: 9%;
        width: 80%;
        margin: auto;

        h2 {
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 0.9em;
        }
        p {
          font-size: 1rem;
          font-weight: 400;
          text-align: center;
        }
        a {
          background-color: var(--blue);
          display: inline-block;
          font-size: 1.2em;
          padding: 0.3em 1.1em;
          border-radius: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .blog-banner-container {
    width: 100%;
    figure {
      img {
        border-radius: 15px;
      }
      .title-wrapper {
        // position: absolute;
        // top: 10px;
        width: 100%;
        margin: auto;

        h2 {
          font-size: 0.8rem;
          font-weight: 400;
          margin-bottom: 0.9rem;
        }
        p {
          // display: none;
          font-size: 0.8rem;
        }
        a {
          background-color: var(--blue);
          display: inline-block;
          font-size: 0.9rem;
          padding: 0.3rem 0.9rem;
          border-radius: 5px;
        }
      }
    }
  }
}
