.double-banner-container {
  figure {
    padding: 1rem;
    //     &:first-child{
    // margin-inline-end: 10px;
    //     }
    //      &:first-child{
    // margin-inline-end: 10px;
    //     }
    > div {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      position: relative;
      // height: 300px;
      img {
        width: 100%;
        border-radius: 10px;
        height: 100%;
      }
      figcaption {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        width: 91%;
        color: #fff;
        height: 100%;
        justify-content: space-between;
        padding: 0.5rem;

        h3 {
          font-size: 1.163em;
          // padding-right: 1em;
          align-self: flex-start;
          width: 100%;
          line-height: 2.9rem;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }
        a {
          color: #fff;
          text-decoration: none;
          align-self: flex-end;
          padding: 0.4em 2em;
          border-radius: 10px;
          background-color: var(--blue);
          transition: 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 0 10px 1px rgba(#fff, 0.3);
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .double-banner-container {
    figure {
      padding: 0.5rem 0;
      > div {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        position: relative;
        height: unset;
      }
      img {
        border-radius: 10px;
      }
      figcaption {
        width: 100%;

        h3 {
          font-size: 0.5rem;
          padding-right: 0.5rem;
          align-self: flex-start;
          line-height: 2.4rem;
          padding-bottom: 1em;
          display: none;
        }
        a {
          padding: 0.25em 2em;
          border-radius: 8px;
          display: none;
        }
      }
    }
  }
}
